@model ISS_Frontend.Models.ExportRequest

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ExportRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stats.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FontSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FontSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FontIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FontIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImpressionsChecked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImpressionsChecked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClicksChecked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClicksChecked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuysChecked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuysChecked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeChecked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeChecked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CtrChecked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CtrChecked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateChecked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateChecked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SignatureChecked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SignatureChecked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecipientChecked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecipientChecked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecipientInput)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecipientInput)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailButtonChecked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailButtonChecked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DownloadButtonChecked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DownloadButtonChecked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutputPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutputPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailRecipient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailRecipient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenderEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenderEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenderPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenderPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SmtpServer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SmtpServer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SmtpPort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SmtpPort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnableSsl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnableSsl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
