@model ISS_Frontend.Models.ExportRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExportRequest</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdvertisementStatisticsId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdvertisementStatisticsId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FontSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FontSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImpressionsChecked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImpressionsChecked)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailRecipient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailRecipient)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
