@model ISS_Frontend.Entity.AdAccount

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AdAccount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameOfCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DomainOfActivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DomainOfActivity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxIdentificationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxIdentificationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadquartersLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadquartersLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorisingInstituion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorisingInstituion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AdAccountId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
