@model ISS_Frontend.Entity.Ad

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebsiteLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebsiteLink)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AdId">Edit</a> |
    <a asp-action="Index" asp-controller="AdAccounts">Back to List</a>
</div>
