@{
    ViewData["Title"] = "Index";
	Layout = "_COCUserLayout";
}

@model Tuple<Celebration_Of_Capitalism___The_Finale.Models.COCProduct, IEnumerable<Celebration_Of_Capitalism___The_Finale.Models.COCReview>>

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@if(HttpContextAccessor.HttpContext.Session.Keys.Contains("userID"))
{
    <div class="container-fluid w-50">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <!-- selected product part with image and desch, hopefully -->
                    <div class="row align-items-center mb-3">
                        <div class="col-md-3">
                            <img src="@Model.Item1.ImageURL" class="w-100 h-100" />
                        </div>
                        <div class="col-md-9">
                            <h3>@Model.Item1.Name</h3>
                        </div>
                    </div>

                    <!-- the reviews themselves, hopefully -->
                    <h2>Reviews</h2>
                    <div>

                        <!-- check that the product has reviews, probably better ways to do this  -->
                        @if (Model.Item2.Count() > 0)
                        {
                            @foreach (var item in Model.Item2)
                            {
                                <div class="card mb-3">
                                    <!-- probably include de username if you can manage to get it via the userID -->
                                    <p>Anonymous:</p>
                                    <p>@item.Rating/5</p>
                                    <h5>@item.Title</h5>
                                    <p>@item.Description</p>
                                </div>
                            }
                        }
                        else
                        {
                            <p>No reviews yet for this product. :C</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    Layout = "_COCLayout";
    <div>
        PERISH, CRIMINAL SCUM, GET HIT BY THE 403.
    </div>
}
